body{
	font-family: 'Hind Siliguri';
}


/*
----------------------
	header style start
----------------------
*/

.shadow1{
	box-shadow: 0px 3px 12px #B5B2B2;
}

.header_top{
	height: 40px;
	background-image: linear-gradient(to right, #0C5023, #0C5023, #126D30, #18803B, #26B556, #26B556);
}

.header_down{
	height: 81px;
}

.logo{
	max-height: 121px;
	width: auto;
}

.nav-link{
	color: #222222 !important;
}

.active{
	background-color: #2AB157;
	color: white !important;
}
.hsp_gap{
	width: 250px;
}

#navbarSupportedContent{
  background-color:white !important;
  padding-left: 40px;
}

#navbarSupportedContent .nav-item :hover {
  background-color:#2AB157 !important;
}


@media only screen and (max-width: 1530px) {
	.logo{
		max-height: 40px;
		width: auto;
	}
	.header_down{
		width: 100%;
		margin-left: 0px !important;
	}
	
	.hsp_gap{
		width: 40px;
	}
	.itm_will_null_tabxxx{
		width: 1px;
  		height: 1px;
    	display: none;
	}
}
@media only screen and (max-width: 1060px) {
	.itm_will_null_tab{
		width: 1px;
  		height: 1px;
    	display: none;
	}
	.medi_tetho{
		margin: auto !important;
		margin-top: 50px !important;
		display: flex !important;
	}
	.nav-item{
		margin-left: 0px !important;
		margin-right: 0px !important;

	}
}

/*
----------------------
	header style end
----------------------
*/





/*
----------------------------
	footer style start
----------------------------
*/

.footer{
  background-color: #282828;
  padding: 20px;
  padding-bottom: 70px;
}

.footer .ficon{
  padding: 40px 60px;
}

.footer .ficon img{
  width: 23.625px;
  height: 23.625px;
  margin: 10px;
}

.footer .column-1{
  color: #AAAA9D;
  padding: 20px 60px;
  font-size: 14.25px;
}

.footer .column-1 img{
  width: 174px;
  height: 67.5px;
}
/*
----------------------------
	footer style end
----------------------------
*/





/*
----------------------------
	banner style start
----------------------------
*/

.capsul_1{
	background-image: linear-gradient(to right, #3AD076, #35C97D, #2BBA8E, #2BBA8E, #21AA9A, #21AA9A);
	border-radius: 0px 400px 400px 0px;
	color: white;
	z-index: 10;
}
.capsul_1 .heading{
	font-size: 70px;
	font-weight: bolder;
	line-height: 1.1;
}
.capsul_1 .medi_tetho{
	max-width: 150px !important;
}

.orderplus{
	color: #37CC7B;
	border-radius: 50px;
	font-weight: bolder;
	font-size: 18px !important;
	letter-spacing: 2px;
}

.orderplus:hover{
	color: #37CC7B;
	transform: scale(1.2);
}

.capsul_2{
	background-image: url("imgs/capsul2img.png");
	background-size: 700px ; 
	background-repeat: no-repeat;
	background-position: 80% 0%;
	border-radius: 400px 0px 0px 400px;
	color: white;
	z-index: 5;
}


@media only screen and (max-width: 1350px){
	.capsul_1{
		border-radius: 0px 0px 0px 0px !important;
	}
	.capsul_2{
		width: 100% !important;
		height: auto !important;
		background-position: 80% -10%;
		border-radius: 0px 0px 0px 0px !important;
	}
	.rspnsv_gap{
		margin-bottom: 40px !important;
	}
	.heading{
		font-size: 30px !important;
	}
}

@media only screen and (max-width: 1000px){
	.capsul_2{
		width: 1px !important;
		height: 1px !important;
		display: none;
	}
}

/*
----------------------------
	banner style end
----------------------------
*/







/*
------------------------------------------
	service_card style start
------------------------------------------
*/

.service_card{
	width: 300px;
	height: 350px;
	box-shadow: 4px 7px 15px #B5B2B2;
}


/*
------------------------------------------
	service_card style end
------------------------------------------
*/






/*
------------------------------------------
	catagory_name style start
------------------------------------------
*/

.catagory_name{
	
}

.catagory_name>h1{
	font-family: sans-serif;
	margin: 0px auto;
	text-align: center;
	font-size: 40px;
	max-width: 600px;
	position:relative;

}
.catagory_name>h1:before{
	content: "";
	display:block;
	width: 940px;
	height:2px;
	background: #C0BDBD;
	position: absolute;
	left: 0;
	top: 60%;
	z-index: -2;
}
.catagory_name>h1:after{
	content: "";
	display:block;
	width: 940px;
	height:2px;
	background: #C0BDBD;
	position: absolute;
	right: 0;
	top: 60%;
	z-index: -2;
}
.catagory_name span{
	color: #333333;
	font-size: 22px;
	background-color: white;
	padding: 10px;
 	border: 2px solid #C0BDBD !important;
}

@media only screen and (max-width: 1400px){
	.catagory_name>h1:before{
		width: 120px !important;
	}
	.catagory_name>h1:after{
		width: 120px !important;
	}
}

/*
------------------------------------------
	catagory_name style end
------------------------------------------
*/






/*
------------------------------------------
	carousel style start
------------------------------------------
*/

.carousel-inner .active{
	background-color: transparent !important;
	min-height: 400px !important;

}


.carousel-indicators .active{
    background-color: #111111;
}

.carousel-indicators li{
    background-color: #AFAFAF;
}


.carousel-control-prev-icon {
    background-image: url("icons/Icon ionic-ios-arrow-back.png");
    height: 34px;
}

.carousel-control-next-icon {
    background-image: url("icons/Icon ionic-ios-arrow-forward.png");
    height: 34px;
}



.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 10px !important;
}
.carousel-indicators {
    bottom: -25px !important;
}



.product_card{
	width: 200px;
	height: 280px;
	background-color: white;
	box-shadow: 4px 7px 15px #B5B2B2;

}

.product_card_med_name{
	text-align: center;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
}
.product_card_med_power{
	text-align: center;
	color: #8894A3;
	font-size: 12px;
}
.pinline{
	margin-top: 0px;
}
.pinline p{
	display: inline;
}


.btn_viewdetails{
  width: 80px;
  height: 21px;
  color: #434343;
  background-color: white; 
  border: 1px solid #434343;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  padding: auto;
  margin: 0px !important;
  margin-right: 7px !important;

}


.btn_addtocart{
  width: 80px;
  height: 21px;
  color: white;
  background-color: #137333; 
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
  padding: auto;
  margin: 0px !important;
  margin-right: 7px !important;

}


/*
------------------------------------------
	cdarousel style end
------------------------------------------
*/

