display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex; }

.Prescription-section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.prescription-img{

 max-width: 100%;
  height: auto;
    padding-left: 30px;
}
.prescription-content{
    float: right;
    display: block;
    padding-right: 30px;
    padding-top: 50px;
}
.prescription-text{
    padding-top: 50px;
}